.gradle
.settings
.idea
build
out

.vscode
*.class
*.jar
!gradle/wrapper/gradle-wrapper.jar

scripts/config/keystores
!scripts/config/keystores/localhost

testsvc/

.project
.classpath

scripts/config/deploy

*.pyc
venv/

R&D/TODO
head
*.code-workspace