.gradle
.settings
.idea
build
out

.vscode
*.class
*.jar
!gradle/wrapper/gradle-wrapper.jar

config/equality/gangnam
config/equality/mainnet
config/equality/yeouido

testsvc/

.project
.classpath

R&D/TODO